body {
  height: 100vh;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "aside main main main";
  background-color: #fff;
  color: #444;
}
aside {
  grid-area: aside;
  background: blue;
}

aside ul li a {
  color: #fff;
}
main {
  grid-area: main;
  position: relative;
  background: lightgrey;
}

header {
  background: red;
  grid-area: header;
}

footer {
  grid-area: footer;
  background: black;
  color: #fff;
}
