body
{
  background-color: #2a282b;
}
ul
{
  position: absolute;
  padding:0;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 600px;
  height: 80px;

  display: flex; 
  justify-content: space-between;

}
ul li{
  display:inline-block;
}
ul li a{
   color:#929292;
  padding:20px 30px;
  display: block;
  text-decoration:none;
  font-size:18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:600;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  border-top:2px solid transparent;
  border-bottom:2px solid transparent;

}
ul li a:hover{
   color:#ffffff;
}
ul li.active a, ul li a:active{
  color:#d9463e;
  border-top:2px solid #d9463e;
  border-bottom:2px solid #d9463e;
}
